<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

<div class="contact-info">
    <div class="card">
        <h1 class="card-text">File Upload</h1>
        <input type="file" (change)="onFileSelected($event)" class="form-file">
        <button class="btn btn1" type="button" (click)="onUpload()">Upload</button>
        <p class="card-text-bottom">{{progressState}}</p>
    </div>
</div>
