*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    box-sizing: border-box;
}

.contact-info{
    display: table;
    margin: 0 auto;
}

.card-text {
    margin-left: 12px;
    font-size: 24px;
}

.card-text-bottom {
    text-align: center;
}

.card{
    background: #2f3542;
    color: #fff;
    border-radius: 25px;
}

.btn{
    border: none;
    margin: 20px;
    padding: 12px;
    width: 110px;
    font-family: "montserrat",sans-serif;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    transition: 0.6s;
}

.form-file {
    margin: 20px;
}

.btn1{
    background-image: linear-gradient(to left,#FFC312,#EE5A24,#FFC312);
}